
API/.vs/API/v16/.suo
API/API/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
API/API/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
App/PhoneStoreApp/PhoneStoreApp/PhoneStoreApp.Android/obj/Debug/110/designtime/build.props
App/PhoneStoreApp/PhoneStoreApp/PhoneStoreApp.Android/obj/Debug/110/DesignTimeResolveAssemblyReferencesInput.cache
App/PhoneStoreApp/PhoneStoreApp/PhoneStoreApp.Android/obj/Debug/110/libraryprojectimports.cache
API/.vs/API/v16/.suo
API/API/bin/API.dll
API/API/bin/API.pdb
API/API/obj/Release/API.dll
API/API/obj/Release/API.pdb
API/API/obj/Release/Package/PackageTmp/bin/API.dll
API/API/obj/Release/Package/PackageTmp/bin/API.pdb
App/PhoneStoreApp/.vs/PhoneStoreApp/DesignTimeBuild/.dtbcache.v2
App/PhoneStoreApp/.vs/PhoneStoreApp/v16/.suo
App/PhoneStoreApp/PhoneStoreApp/PhoneStoreApp.Android/obj/Debug/110/PhoneStoreApp.Android.csproj.AssemblyReference.cache
App/PhoneStoreApp/PhoneStoreApp/PhoneStoreApp.Android/obj/PhoneStoreApp.Android.csproj.nuget.dgspec.json
.vs/IE307.M11/v16/.suo
API/.vs/API/v16/.suo
API/.vs/API/v16/.suo
.vs/IE307.M11/v16/.suo
API/.vs/API/v16/.suo
API/.vs/API/v16/.suo
App/PhoneStoreApp/.vs/PhoneStoreApp/v16/.suo
API/API/obj/Release/API.dll
API/API/obj/Release/API.pdb
API/API/obj/Release/Package/PackageTmp/bin/API.dll
API/API/obj/Release/Package/PackageTmp/bin/API.pdb
App/PhoneStoreApp/PhoneStoreApp/PhoneStoreApp.Android/bin/Debug/PhoneStoreApp.Android.dll
App/PhoneStoreApp/PhoneStoreApp/PhoneStoreApp.Android/bin/Debug/PhoneStoreApp.Android.pdb
App/PhoneStoreApp/PhoneStoreApp/PhoneStoreApp.Android/bin/Debug/PhoneStoreApp.dll
App/PhoneStoreApp/PhoneStoreApp/PhoneStoreApp.Android/bin/Debug/PhoneStoreApp.pdb
App/PhoneStoreApp/PhoneStoreApp/PhoneStoreApp.Android/obj/Debug/110/android/assets/PhoneStoreApp.dll
App/PhoneStoreApp/PhoneStoreApp/PhoneStoreApp.Android/obj/Debug/110/android/assets/PhoneStoreApp.pdb
App/PhoneStoreApp/PhoneStoreApp/PhoneStoreApp/bin/Debug/netstandard2.0/PhoneStoreApp.dll
App/PhoneStoreApp/PhoneStoreApp/PhoneStoreApp/bin/Debug/netstandard2.0/PhoneStoreApp.pdb
App/PhoneStoreApp/PhoneStoreApp/PhoneStoreApp/bin/Debug/netstandard2.0/ref/PhoneStoreApp.dll
App/PhoneStoreApp/PhoneStoreApp/PhoneStoreApp/obj/Debug/netstandard2.0/PhoneStoreApp.pdb
App/PhoneStoreApp/PhoneStoreApp/PhoneStoreApp/obj/Debug/netstandard2.0/ref/PhoneStoreApp.dll
App/PhoneStoreApp/PhoneStoreApp/PhoneStoreApp/obj/Debug/netstandard2.0/PhoneStoreApp.dll
App/PhoneStoreApp/PhoneStoreApp/PhoneStoreApp/obj/Debug/netstandard2.0/PhoneStoreApp.csproj.AssemblyReference.cache
App/PhoneStoreApp/PhoneStoreApp/PhoneStoreApp.Android/obj/Debug/110/_TelemetryProps
.vs/IE307.M11/v16/.suo
